<div id="loginDialog" class="modal-dialog" ng-controller="LoginController">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">登陆</h4>
    </div>
    <div class="modal-body">
      <form class="form-signin" role="form">
        <input id="loginUsername" name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
        <input id="loginPassword" name="password" type="password" class="form-control" placeholder="密码" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> 记住密码
        </label>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="showRegiest()">注册</button>
      <button type="button" class="btn btn-primary" ng-click="doLogin()">登陆</button>
    </div>
  </div>
</div>