<!-- <h1>修改用户信息</h1>
<form role="form" ng-submit="save()">
	<div class="form-group">
		<label>昵称</label>
		<input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称" ng-model="user.nickname">
	</div>
	<div class="form-group">
		<label>年龄</label>
		<input type="text" class="form-control" id="age" name="age" placeholder="年龄" ng-model="user.age">
	</div>
	<button type="submit" class="btn btn-default">提交</button>
</form> -->

<div id="updateDialog" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
    </div>
    <div class="modal-body">
      <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add files...</span>
          <input id="head" type="file" name="headImg" multiple ng-disabled="disabled">
      </span>
      <div class="form-group">
        <label>昵称</label>
        <input ng-model="user.nickname" name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
      </div>
      <div class="form-group">
        <label>年龄</label>
        <input ng-model="user.age" stype="text" class="form-control" id="age" name="age" placeholder="年龄">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="saveUser()">确认修改</button>
    </div>
  </div>
</div>