.task-item {
	margin: 10px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	-webkit-box-shadow: 3px 3px 6px #666;  
    -moz-box-shadow: 3px 3px 6px #666;  
    box-shadow: 3px 3px 6px #666;  
}

.column {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 30%;
}

.load-button {
	margin: 10px;
	min-height: 1px;
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 6px #666;  
    -moz-box-shadow: 3px 3px 6px #666;  
    box-shadow: 3px 3px 6px #666;
    width: 100%;
}

.task-desc {
	margin-bottom: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}