body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-image: -webkit-linear-gradient(270deg, #ffff93, white);
  min-height: 800px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}