<div class="container task-container">
  <span class="column" ng-repeat="task in tasklist">
    <div class="task-item" ng-repeat="item in task">
      <h2 class="task-name" ng-bind="item.taskName"></h2>

      <p class="item-createtime" ng-bind="item.createTime"></p>

      <p class="item-content" ng-bind="item.description"></p>

      <p class="item-reward">
        <span class="title">报酬：</span>
        <span class="content" ng-bind="item.reward"></span>
      </p>
     
      <p class="item-contact">
        <span class="title">联系方式：</span>
        <span class="content" ng-bind="item.contactWay"></span>
      </p>
      
      <div class="item-btn">
        <p ng-if="item.btnType == 'accept'">
          <a class="button btn {{item.btnStyle}} {{item.disabled}}" href="#" role="button" ng-click="acceptTask(item._id)">{{item.btnName}}</a>
        </p>
        <p ng-if="item.btnType == 'done'">
          <a class="button btn {{item.btnStyle}} {{item.disabled}}" href="#" role="button" ng-click="taskDone(item._id)">{{item.btnName}}</a>
        </p>
      </div>
    </div>
  </span>
  <input type="button" value="加载更多" class="load-button {{loadingVisible}}" ng-click="addTasks();"></input>
</div>