<div class="container">
  <div>
    <span class="column" ng-repeat="task in tasklist">
      <div class="task-item" ng-repeat="item in task">
        <h2 class="task-name" ng-bind="item.taskName"></h2>

        <p class="item-createtime" ng-bind="item.createTime"></p>

        <p class="item-content" ng-bind="item.description"></p>

        <p class="item-reward">
          <span class="title">报酬：</span>
          <span class="content" ng-bind="item.reward"></span>
        </p>
       
        <p class="item-contact">
          <span class="title">联系方式：</span>
          <span class="content" ng-bind="item.contactWay"></span>
        </p>
        
        <div class="item-btn">
          <p ng-if="status == 1">
            <a class="button btn btn-primary" href="#" role="button" ng-click="acceptTask(item._id)">领取任务</a>
          </p>
          <p  ng-if="status == 2">
            <a class=" button btn btn-success" href="#" role="button" ng-click="taskDone(item._id)">完成任务</a>
          </p>
        </div>
      </div>
    </span>
    <input type="button" value="加载更多" class="load-button {{visible}}" ng-click="addTasks();"></input>
  </div>
</div>